<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resetPassword</title>
</head>
<body>
    <p>username: <span th:utext="${username}"></span></p>
    <p>Token: <span th:utext="${token}"></span></p>
    <div>
        <label>new password </label><input type="text" name="password" class="form-control">
    </div>
    <div>
        <label>new password again </label><input type="text" name="re-password" class="form-control">
    </div>
    <div>
        <button class="btn btn-primary col-md-12">submit</button>
    </div>

</body>
</html>